@use "../abstracts";
%flex-ItemCenter {
  display: flex;
  align-items: center;
}

.header {
  position: relative;
  z-index: 2;
  background: var(--header-bg-color);
  @include abstracts.screen(lg) {
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}

.top-bar {
  @extend %flex-ItemCenter;
  padding: 30px 0;
  position: relative;
  z-index: 1;

  @include abstracts.screen(lg) {
    padding: 22px 0;
  }
  @include abstracts.screen(md) {
    padding: 16px 0;
    justify-content: space-between;
  }

  &__logo {
    @include abstracts.screen(lg) {
      column-gap: 10px !important;
      margin-left: 40px;

      &-title {
        font-size: 1.8rem !important;
      }

      &-img {
        width: 24px;
      }
    }

    @include abstracts.screen(md) {
      margin-left: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.navbar {
  margin-left: 129px;
  z-index: 9;
  @include abstracts.screen(xl) {
    margin-left: 26px;
  }

  &__close--btb {
    display: none;
    @include abstracts.screen(lg) {
      display: block;
      padding: 10px 40px;
    }
    @include abstracts.screen(sm) {
      padding: 0 20px 10px;
    }
  }

  @include abstracts.screen(lg) {
    // display: none;
    border-radius: 0px 20px 20px 0px;
    position: fixed;
    inset: 0 50% 0 0;
    background: var(--sidebar-bg);
    margin-left: 0;
    padding: 20px 0;

    @include abstracts.screen(sm) {
      inset: 0 20% 0 0;
    }

    transform: translateX(-100%);
    transition: transform 0.5s;

    &.show {
      transform: translateX(0);
      box-shadow: 0px 40px 90px 20px var(--sidebar-shadow);
    }

    &.show ~ &__overlay {
      visibility: visible;
      opacity: 1;
    }
  }

  &__overlay {
    visibility: hidden;
    opacity: 0;
    @include abstracts.screen(lg) {
      position: fixed;
      inset: 0;
      z-index: 8;
      transition: opacity, visibility;
      transition-duration: 0.5s;
      background: rgba(0, 0, 0, 0.4);
    }
  }

  &__list {
    @extend %flex-ItemCenter;
    // column-gap: 30px;
    @include abstracts.screen(lg) {
      flex-direction: column;
      align-items: flex-start;

      overflow-y: auto;
      overscroll-behavior: contain;
      height: calc(100% - 40px);
    }

    @include abstracts.screen(md) {
      height: calc(100% - 140px);
    }
  }

  &__item {
    &:hover .dropdown {
      display: block;
    }

    @include abstracts.screen(lg) {
      width: 100%;

      &:hover .dropdown {
        display: none;
      }

      &--active .dropdown {
        display: block !important;
      }
    }
  }

  &__link {
    @extend %flex-ItemCenter;
    padding: 0 15px;
    height: 50px;
    column-gap: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.47; /* 146.667% */
    @include abstracts.screen(lg) {
      justify-content: space-between;
      padding: 0 40px;
      font-size: 1.6rem;
      line-height: 1.5; /* 150% */
    }

    @include abstracts.screen(sm) {
      height: 44px;
      padding: 0 20px;
    }
  }

  &__arrow {
    margin-top: 3px;
    transition: transform 0.3s ease;
    @include abstracts.screen(lg) {
      transform: rotate(-90deg);
    }
  }

  &__item--active &__arrow {
    transform: rotate(0deg);
  }
}

.top-act {
  margin-left: auto;
  @extend %flex-ItemCenter;
  gap: 20px;

  @include abstracts.screen(md) {
    margin-left: 0;

    &__sign-up {
      height: 40px !important;
      padding: 0 8px !important;
      font-size: 1.5rem !important;
    }
  }
  &__group {
    @extend %flex-ItemCenter;
    min-width: 50px;
    height: 50px;

    border-radius: 8px;
    background: var(--top-act-group);
    box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
  }

  &__group--single {
    @include abstracts.screen(lg) {
      display: none;
    }
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__btn {
    cursor: pointer;
    @extend %flex-ItemCenter;
    gap: 10px;
    padding: 13px 20px;

    &-wrap {
      position: relative;

      &:hover .act-dropdown {
        display: block;
      }
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.47; /* 146.667% */
  }

  &__separate {
    width: 1px;
    height: 30px;
    background: var(--top-act-separate);
  }

  &__avatar {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
}

.nav-btn {
  height: 50px;
  align-items: center;
  padding: 0 40px;

  @include abstracts.screen(sm) {
    padding: 0 20px;
    height: 44px;
  }

  &__title,
  &__qnt {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.47; /* 146.667% */
  }

  &__title {
    margin-left: 16px;
  }

  &__qnt {
    margin-left: auto;
  }
}

.act-dropdown {
  position: absolute;
  top: 50px;
  right: -60px;
  padding-top: 22px;
  width: min(500px, 100vw);
  display: none;

  &__inner {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    background: var(--header-act-dropdown-bg);
    box-shadow: 0px 40px 90px 20px var(--header-act-dropdown-shadow);
  }

  &__arrow {
    position: absolute;
    top: -12px;
    right: 108px;
    filter: var(--dropdown-arrow-color);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.45; /* 145.455% */
  }

  &__view-all {
    color: #0071dc;
    font-size: 1.8rem;
    line-height: 1.45; /* 145.455% */
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 20px 0;
    padding: 20px 0;
    border-width: 1.6px 0;
    border-color: var(--header-act-dropdown-bottom);
    border-style: solid;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--bold {
      font-weight: 500;
    }
  }

  &__lable,
  &__value {
    font-size: 1.6rem;
    line-height: 1.45; /* 145.455% */
  }

  &__checkout {
    display: flex;
    justify-content: flex-end;
  }
}

.cart-preview-item {
  text-align: left;
  &__img-wrap {
    position: relative;
    padding-top: 100%;
    border: 1.5px solid var(--header-act-dropdown-bottom);
    border-radius: 4px;
  }

  &__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.43; /* 142.857% */
  }

  &__price {
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.47; /* 146.667% */
  }
}
